# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (keep raw json out of GitHub)
data/raw/
# Keep processed data optional
# data/processed/

# Outputs (videos/gifs can be big)
outputs/
*.mp4
*.gif

# OS/Editor
.DS_Store
.vscode/
